<header><center>Welcome <%= @user.username %>!</center></header>
<h2><center> The Mummy </center></h2>
<center>
  <img src="https://image.tmdb.org/t/p/w200/zxkY8byBnCsXodEYpK8tmwEGXBI.jpg">

  <div class = "login-form">
    <%= form_with url: viewing_party_index_path, method: :post, local:true do |form| %>
      <%= form.label :duration, "Duration of Party:" %>
      <%= form.number_field :duration, required: true, class: "form-control", min: @movie.duration, value: @movie.duration %>
      <%= form.label :date, "Day:" %>
      <%= form.date_field :date, required: true, class: "form-control" %>
      <%= form.label :time, "Start Time:" %>
      <%= form.time_field :time, required: true, class: "form-control" %>

      <h2><center> Invite your friends: </center></h2>
      <% if @user.friendships.any? %><br>
        <% @user.friendships.each do |friend| %>
            <%= form.label :friends, friend.friend.username %>
            <%= form.check_box :friends, id: "friend-#{friend.friend.username}", params: {friend_id: friend.friend.id}%>
        <% end %>
      <%end %><br>
      <%= form.submit "Create Party" %>
    <% end %>
  </div>
</center>
