<header>
  <%= "Welcome, #{current_user.username}!" %>
</header>

<%= button_to "Discover Movies", discover_path, method: :get%>

<section>
  <h2>Friends:</h2>
  <div id="add_friend">
    <h3>Add a friend: </h3>
    <%= form_with url: friendships_path, local: true do |f| %>
      <%= f.label :friend, "Search by email:" %>
      <%= f.text_field :friend %>
      <%= f.submit "Add Friend" %>
    <% end %>
  </div>
  <div id="friends_list">
    <% if current_user.friendships.none? %>
      <p>You currently have no friends.</p>
    <% else %>
      <% current_user.friendships.each do |friendship| %>
      <ul>
        <li><%= friendship.friend.username %>
      </ul>
      <% end %>
    <% end %>
  </div>
</section>

<section id="watch_parties">
  <h2>Watch Parties:</h2>
  <br>
  <h3>Invited:</h3>
  <% @parties[:invited_to].each do |party| %>
    <div class="parties_for_you">
      <%= render partial: "party_information", locals: {party: party} %>
    </div>
  <% end %>

  <h3>Hosting:</h3>
  <% @parties[:hosted].each do |party| %>
    <div class="parties_you_run">
      <%= render partial: "party_information", locals: {party: party} %>
    </div>
  <% end %>
</section>
