<header>
  <%= "Welcome, #{current_user.username}!" %>
</header>

<%= button_to "Discover Movies", discover_path, method: :get%>

<section>
  <h2>Friends:</h2>
  <div id="add_friend">
    <h3>Add a friend: </h3>
    <%= form_with url: friendships_path, local: true do |f| %>
      <%= f.label :friend, "Search by email:" %>
      <%= f.text_field :friend %>
      <%= f.submit "Add Friend" %>
    <% end %>
  </div>
  <div id="friends_list">
    <% if @friends.none? %>
      <p>You currently have no friends.</p>
    <% else %>
      <% @friends.each do |friend| %>
      <ul>
        <li><%= friend.friend.username %>
      </ul>
      <% end %>
    <% end %>
  </div>
</section>

<section id="watch_parties">
  <h2>Watch Parties:</h2>
  <br>
  <h3>Invited:</h3>
  <div style="overflow:auto">
    <div class="row flex-row flex-nowrap">
      <% @parties[:invited_to].each do |party| %>
        <div class="col-3 parties_for_you"">
          <div class="card" style="width:auto;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w200<%=party.movie.poster_path%>" alt="<%= party.movie.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= party.movie.title %> Party</h5>
              <%= "Duration: #{party.duration/60} hours " + "#{party.duration%60} minutes" %><br>
              <%= "Hosted by: #{party.host.username}" %>
              <%= "Invitees: #{party.viewer_usernames}" %><br>
              <%= "Date: #{party.party_date.strftime("%e %b %Y")}" %><br>
              <%= "Time: #{party.party_time.strftime("%l:%M %p %Z")}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h3>Hosting:</h3>
      <div style="overflow:auto">
        <div class="row flex-row flex-nowrap">
          <% @parties[:hosted].each do |party| %>
        <div class="col-3 parties_you_run"">
          <div class="card" style="width:auto;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w200<%=party.movie.poster_path%>" alt="<%= party.movie.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= party.movie.title %> Party</h5>
                <%= "Duration: #{party.duration/60} hours " + "#{party.duration%60} minutes" %><br>
                <%= "Invitees: #{party.viewer_usernames}" %><br>
                <%= "Date: #{party.party_date.strftime("%e %b %Y")}" %><br>
                <%= "Time: #{party.party_time.strftime("%l:%M %p %Z")}" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</section>
